<div class="header">
    <a href="#default" class="logo">Smart MS SA</a>
    <div class="header-right">
      <a class="active" routerLink="table">Home</a>
      <a routerLink="contact">Contact</a>
      <a href="#about">About</a>
    </div>
  </div>

   <h1>Hello in smart</h1>
   <p>kecdjnsskjcjlsdkcsdlckklc</p>
   <p>kecdjnsskjcjlsdkcsdlckklc</p>
   <p>kecdjnsskjcjlsdkcsdlckklc</p>

   <p>kecdjnsskjcjlsdkcsdlckklc</p>
   <p>kecdjnsskjcjlsdkcsdlckklc</p>
   <p>kecdjnsskjcjlsdkcsdlckklc</p>

   <p>kecdjnsskjcjlsdkcsdlckklc</p>
   <p>kecdjnsskjcjlsdkcsdlckklc</p>
   <p>kecdjnsskjcjlsdkcsdlckklc</p>
   <p>kecdjnsskjcjlsdkcsdlckklc</p>

   <p>kecdjnsskjcjlsdkcsdlckklc</p>
   <p>kecdjnsskjcjlsdkcsdlckklc</p>
  <footer>
    
    <p>Hanenne&copy;2024</p>
  </footer>
